<% for (var time in todos) { %>
    <section class="timezone" data-timezone="<%= time %>">
        <h2><%= time %></h2>
        <% if (todos[time].length) { %>
            <ul class="list">
                <% for (var i in todos[time]) { %>
                    <% var todo=todos[time][i] %>
                    <li id="todo<%= todo.id %>" data-id="<%= todo.id %>" data-timezone="<%= todo.timezone %>">
                        <div class="view">
                            <span class="title"><%= todo.title %></span>
                            <a href="#" onclick="deleteElement(<%= todo.id %>); return false;">X</a>
                        </div>
                    </li>
                <% } %>
            </ul>
        <% } else { %>
        <p>You have no todos yet.</p>
        <% } %>
        <div class="newtask">
            <form action="/insert" method="post">
                <input type="hidden" name="timezone" value="<%= time %>"/>
                <input type="text" name="task"/>
                <input type="submit" value="new task"/>
            </form>
        </div>
    </section>
<% } %>