<% for (var j in timezones) {  %>
    <section class="timezone" data-timezone="<%= j %>">
        <h2><%= timezones[j] %></h2>
        <ul class="list">
            <% for (var i in todos[timezones[j]]) { %>
                <% var todo=todos[timezones[j]][i] %>
                <li id="todo<%= todo.id %>" class="task" data-id="<%= todo.id %>" data-timezone="<%= todo.timezone %>">
                    <div class="view">
                        <span class="title"><%= todo.title %></span>
                        <a href="#" class="action remove">&#10007;</a>
                    </div>
                </li>
            <% } %>
            <li class="placeholder">You have no todos yet.</li>
        </ul>
        <div class="newtask">
            <form action="/insert" method="post">
                <input type="hidden" name="timezone" value="<%= j %>"/>
                <input type="text" name="task" required/>
                <input type="submit" value="new task"/>
            </form>
        </div>
    </section>
<% } %>